@using BIOLIFE.Models;
@model List<CategoryModel>
@{
    string current_url = ViewBag.current_url;
    current_url = current_url.Split("/").Last();
}
@if (Model != null)
{
    @*<header class="header">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/">
                        <div class="logo">
                            <img src="~/images/Logo_BIOLIFE.png" alt="" />
                        </div>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <i class="icofont-navigation-menu"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item @Html.Raw(current_url==""?"active":"")">
                                <a class="nav-link" href="/">Trang chủ</a>
                            </li>
                            @foreach (var item in Model)
                            {

                                <li class="nav-item @Html.Raw((item.path.IndexOf(current_url) >=0 && current_url!="")  ?"active":"")">
                                    <a class="nav-link" href="@("/" + item.path.Replace("-"+ item.id,"" ) )">@item.name</a>
                                </li>
                            }
                        </ul>
                        <form class="form-inline my-2 my-lg-0" action="/san-pham/tim-kiem" method="get">
                            <input class="form-control" type="search" name="p" placeholder="Tìm kiếm..." aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                <i class="icofont-search"></i>
                            </button>
                        </form>
                    </div>
                </nav>
            </div>
        </header>*@

    <header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/">
                    <div class="logo">
                        <img class="green" src="~/images/Logo.png" alt="">
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="icofont-navigation-menu"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            @*<a class="nav-link" href="/">Về Omori</a>*@
                        </li>
                           @foreach (var item in Model)
                            {

                                <li class="nav-item @Html.Raw((item.path.IndexOf(current_url) >=0 && current_url!="")  ?"active":"")">
                                    <a class="nav-link" href="@("/" + item.path.Replace("-"+ item.id,"" ) )">@item.name</a>
                                </li>
                            }
                        @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sản phẩm</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Tã dán</a>
                                <a class="dropdown-item" href="#">Tã quần</a>
                                <a class="dropdown-item" href="#">Khăn ướt</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tin-tuc">Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dai-ly">Đại lý</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/lien-he">Liên hệ</a>
                        </li>*@
                    </ul>
                    <a href="#popup-dathang" class="btn btn-base open-popup">Đặt hàng ngay</a>
                </div>
            </nav>
        </div>
    </header>

    <script src="~/js/common.js"></script>
}