@using BIOLIFE.Models.Products;
@using BIOLIFE.Utilities;
@model ProductListResponseModel
@{
    @inject IConfiguration Configuration
}
@{
    if (Model != null)
    {
        int current_page =( Model.page_index/Model.page_size)+1;
        int total_items = Model.count;// Tổng toàn bộ bản ghi theo 1 cate
        int page_size = Model.page_size;
        if (Model != null)
        {
            <div class="list-product row">

                @foreach (var item in Model.items)
                {
                    //string url_fixed = item.avatar;
                    //if (!url_fixed.Contains(static_url)
                    //&& !url_fixed.Contains("base64")
                    //&& !url_fixed.Contains("data:image"))
                    //{
                    //    url_fixed = static_url + item.avatar;
                    //    url_fixed = url_fixed.Replace(@"//",@"/");
                    //}
                <div class="item-product" style="max-width:203px!important;min-height:max-height:285px!important; max-height:285px!important">
                    <a href="#popup-dathang" class="open-popup" data-id="@item._id">
                        @*<div class="tag">-50%</div>*@
                        <div class="product-image">
                            <img src="@Html.GetStaticUrlImage( item.avatar,Configuration)" alt="@item.name" style="max-width:183px!important;max-height:183px!important" />
                        </div>
                        <p class="product-title">@item.name</p>
                        <div class="product-price-info">
                            <div class="price-details product-title">
                                <div class="price">
                                    @if (item.attributes != null)
                                    {
                                            <p>@Html.Raw(item.amount_min.ToString("N0")) đ</p>
                                        }
                                    else
                                    {
                                            <p>@Html.Raw(item.amount.ToString("N0")) đ</p>
                                        
                                                }
                                </div>
                                @*<div class="old-price">215.000 đ</div>*@
                            </div>
                        </div>
                    </a>
                </div>
                }
            </div>

            @*Phân trang*@
            @await Component.InvokeAsync("Pagination",new {page = current_page, total_items = total_items, page_size = page_size, view="~/Views/Shared/Components/PaginationAjax/Default.cshtml" })
        }
    }
}
